
body {
  background-color: #e5e5e5;
  height: auto;
  margin: 0;
  font-family: 'Lato', sans-serif;

  --primary-color: #ec5242;
  --dark-color: #272a31;
  --light-color: #d3d3d3;
  --white-color: #fff;

  overflow-x: hidden;
}

a {
  all: unset;
}

.primary-color {
  color: var(--primary-color);
}

.fixed-top {
  position: fixed;
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: 50px;
  padding: 5px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: transparent;
  width: 90%;
}

.logo {
  width: 60px;
  padding-left: 20px;
}

.menu {
  padding: 8px;
  font-size: 1.3rem;
}

.menu-list {
  display: none;
}

.fa-bars {
  color: var(--primary-color);
}

.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--primary-color);
  display: none;
}

.close-button {
  color: #fff;
  font-size: 34px;
  padding-top: 50px;
  float: right;
  margin-left: 85%;
}

.nav-toggle {
  display: flex;
  flex-direction: column;
}

.hello-section {
  padding: 25px;
  background-image: url("./assits/5229.jpg");
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  background-size: 100%;
  background-color: var(--light-color);
  padding-top: 32px;
  font-size: 24px;
}

.no-background {
  background-size: 100%;
}

.email {
  font-size: 18px;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: var(--primary-color);
  font-size: 36px;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: var(--primary-color);
  font-size: 24px;
}

.hello-dicreption {
  background-color: var(--white-color);
  opacity: 0.9;
  border-radius: 8px;
  padding: 4px;
  font-size: 18px;
}

ul {
  list-style-type: none;
}

.transparent {
  opacity: 0;
}

.mobile-nav-item {
  color: var(--dark-color);
  font-size: 20px;
}

.main-program {
  background-image: url("assits/first-car.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px;
}

.section-title-white {
  color: white;
  text-align: center;
  font-size: 24px;
  margin: 0;
}

.section-title-black {
  color: black;
  text-align: center;
  font-size: 24px;
  margin: 0;
}

.bmw-summit-img {
  width: 100%;
}

.title-line {
  border: 1px solid rgb(255, 64, 0);
  width: 40%;
  margin-bottom: 30px;
}

.no-margin {
  margin-bottom: 0;
}

.join-btn {
  background-color: rgb(255, 64, 0);
  color: #fff;
  text-decoration: none;
  width: 70%;
  height: 50px;
  border: var(--primary-color);
}

.more-btn {
  background-color: #fff;
  color: var(--dark-color);
  text-decoration: none;
  width: 100%;
  height: 50px;
  border: 0;
}

.more-btn-div {
  border: 1px solid var(--dark-color);
}

.btn-text {
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}

.text-center {
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.program-card {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: rgb(90, 90, 90, 0.7);
  padding: 8px;
  border-radius: 12px;
  gap: 12px;
}

.program-title {
  color: var(--primary-color);
}

.program-holder {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.summits-holder {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.text-white {
  color: var(--light-color);
  text-align: center;
}

.speaker-card {
  display: flex;
  flex-direction: row;
}

.image-holder {
  background-size: 30%;
  background-position: 0 10px;
  background-repeat: no-repeat;
  padding-top: 20px;
}

.main-speaker {
  padding-left: 25px;
  padding-right: 25px;
}

.speaker-img {
  width: 80px;
  height: 80px;
  border-radius: 60%;
  margin-right: 20px;
}

.speaker-about {
  color: var(--dark-color);
}

.speaker-name {
  color: var(--primary-color);
}

.creative-section {
  background-color: var(--white-color);
  padding: 25px;
}

.past-summiit {
  background-color: var(--white-color);
  padding: 25px;
}

.section-line {
  width: 100%;
  height: 2px;
  margin: 0;
  border-width: 0;
  color: var(--light-color);
}

.summit-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  background-blend-mode: soft-light;
  background-color: var(--primary-color);
}

.summit-year {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: var(--white-color);
  margin-top: 50px;
  margin-bottom: 10px;
}

.summit-message {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: var(--white-color);
}

.navbar-black {
  display: none;
}

.partner {
  display: none;
}

footer {
  display: none;
}

.invisible {
  display: none;
}

/* Desktop version */

@media only screen and (min-width: 768px) {
  .navbar {
    background-color: var(--white-color);
    height: 58px;
  }

  .navbar-black {
    display: inline;
    width: 100%;
    height: 24px;
    background-color: var(--dark-color);
    flex-direction: column;
  }

  .navbar-black ul {
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    padding: 4px;
    padding-right: 25px;
    margin: 0;
    background-color: var(--dark-color);
  }

  .navbar-black li {
    color: var(--white-color);
  }

  .menu-list {
    display: flex;
    gap: 12px;
  }

  .menu-list :hover {
    background-color: #d3d3d3;
    color: var(--primary-color);
    cursor: pointer;
  }

  #menu-icon {
    display: none;
  }

  .desktop-nav-item {
    color: var(--dark-color);
  }

  .fa-bars {
    display: none;
  }

  h3 {
    margin-top: 180px;
    font-weight: 500;
    font-size: 48px;
  }

  h2 {
    font-weight: 700;
    font-size: 56px;
  }

  .hello-section {
    padding-left: 12%;
    padding-right: 12%;
  }

  .hello-dicreption {
    width: 60%;
  }

  .bmw-summit-img {
    width: 50%;
    margin-left: 25%;
  }

  .summits-holder {
    flex-direction: row;
    justify-content: center;
    gap: 18px;
  }

  .summit-message {
    width: 70%;
    font-size: 16px;
  }

  .program-holder {
    flex-direction: row;
    overflow-x: hidden;
  }

  .program-card {
    flex-direction: column;
  }

  .p-card :hover {
    border: 1px solid var(--light-color);
    background-color: rgb(120, 120, 120, 0.7);
  }

  .join-btn {
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    width: 70%;
    height: 50px;
    border: 0;
  }

  .btn-text {
    text-decoration: underline;
    font-size: 18px;
  }

  .program-title {
    margin: 16px;
  }

  .speaker-holder {
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-template-columns: 47% 47%;
    gap: 6%;
    margin-bottom: 48px;
  }

  .speaker-card {
    width: 80%;
  }

  .more-btn-div {
    display: none;
  }

  .partner {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-color);
    width: 100%;
    padding: 24px;
  }

  .partner hr {
    width: 35px;
    margin-bottom: 16px;
  }

  .partner-img {
    height: 50px;
  }

  .partner ul {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    gap: 12px;
    padding: 4px;
    padding-right: 25px;
    margin: 0;
    background-color: var(--dark-color);
  }

  footer {
    background-color: var(--light-color);
    display: flex;
    width: 100%;
    padding: 36px;
    gap: 36px;
    padding-left: 10%;
    padding-right: 10%;
  }

  .black-background {
    background-color: var(--dark-color);
  }

  .aligment-left {
    text-align: left;
  }

  footer img {
    height: 50px;
  }

  footer p {
    width: 40%;
  }

  .navbar-icon {
    height: 16px;
  }
}
