
body {
  background-color: #e5e5e5;
  height: auto;
  font-family: 'Lato', sans-serif;

  --primary-color: #ec5242;
  --dark-color: #272a31;
  --light-color: #d3d3d3;
}

a {
  all: unset;
}

.fixed-top {
  position: fixed;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: transparent;
}

.menu {
  padding: 8px;
  font-size: 1.3rem;
}

.menu-list {
  display: none;
}

.fa-bars {
  color: var(--dark-color);
}

.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--primary-color);
  display: none;
}

.close-button {
  color: #fff;
  font-size: 34px;
  padding-top: 50px;
  float: right;
  margin-left: 85%;
}

.nav-toggle {
  display: flex;
  flex-direction: column;
}

.hello-section {
  padding: 25px;
  background-image: url("./assits/hello-cars.jpg");
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  background-size: 100%;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: var(--primary-color);
}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: var(--primary-color);
}

.hello-dicreption {
  background-color: var(--light-color);
  opacity: 0.9;
  border-radius: 8px;
  padding: 4px;
}

ul {
  list-style-type: none;
}

.transparent {
  opacity: 0;
}

.mobile-nav-item {
  color: var(--dark-color);
  font-size: 20px;
}

.main-program {
    background-image: url("assits/first-car.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
  }

  .section-title-white {
    color: white;
  }

  .section-title-black {
    color: black;
  }

  .title-line {
    border: 1px solid rgb(255, 64, 0);
  }

  .join-btn {
    background-color: rgb(255, 64, 0);
    color: #fff;
    text-decoration: none;
  }

  .program-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(90, 90, 90, 0.7);
    padding-left: 8px;
  }

  .program-holder {
    display: flex;
    gap: 8px;
  }

  .speaker-card {
    display: flex;
    flex-direction: row;
  }
  
  .image-holder {
    background-size: 30%;
    background-position: 0 10px;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-left: 15px;
  }

  .speaker-img {
    border-radius: 60%;
    margin-right: 20px;
  }
